// /*--------ИМПОРТ---------------------*/
@import "null.scss";
// /*-----------------------------------*/

$title_size: 42px;
$undertitle_size: 11px;

$subtitle_size: 24px;
$text_size: 16px;

$else_size: 19px;

// /*-----------------------------------*/

* {
	font-family: 'Roboto', sans-serif;
	color: #000;
}

h1 {
font-size: $title_size;
color: #fff;
}

/*---BUTTON---*/
.content__button {
	padding: 20px 50px;
	cursor: pointer;
	background-color: #0A8BFE;
	font-size: $text_size;
	width: fit-content;
	border-radius: 7px;	
	transition: 0.3s;
}
.content__button a {
	color: #fff;
}
.content__button:hover {
	transform: scale(1.1);
}
.info__button {
	margin: 50px auto 150px auto;
}
// /*-----------------------------------*/

.container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 15px;
}

/*---HEADER---*/
.header {
	background: url('../img/Frame.png') 0 0/cover no-repeat;
	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: $text_size;
		.header__nav {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 10px;
			padding: 60px 0px 60px 0px;
			.nav__item {
				color: #fff;
				position: relative;
				cursor: pointer;
				line-height: 2;
				text-decoration: none;
				margin: 15px 20px;
				text-decoration: none;
			}
			.header__button {
				color: #fff;
				padding: 10px 20px 10px 20px;
				border: 1px solid #fff;
				border-radius: 7px;
				transition: 0.3s;
				text-decoration: none;
			}.header__button:hover {
				transform: scale(1.1);
			}
			.nav__item:after {
				display: block;
				position: absolute;
				left: 0;
				width: 0;
				height: 2px;
				background-color: #fff;
				content: "";
				transition: width 0.3s ease-out;
				transition: width 0.3s ease-out;
				}
				.nav__item:hover:after, .nav__item:focus:after {
				width: 100%;
			}
		}
	}
	.section1 {
		margin-top: 80px;
		margin-bottom: 270px;
		.section1__title {
			padding-bottom: 50px;
		}
		.section1__text {
			color: #fff;
			font-size: $undertitle_size;
			margin-bottom: 70px;
			letter-spacing: 0.08em;
		}
	}
}


.section2 {
	background-color: #fff;
	position: relative;
	bottom: 70px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
	display: flex;
	align-items:center;
	.section2__inner-left {
		width: 35%;
		padding: 60px 65px 60px 40px;
		margin: 40px;
		border-right: 2px solid #E8E8E8;
		.inner-left__title {
			color: #000;
			font-size: $subtitle_size;
			line-height: 30px;
			padding-bottom: 20px;
		}
		.inner-left__text {
			color: #737373;
			font-size: $text_size;
			line-height: 30px;
			padding-top: 10px;
		}
	}
	.section2__inner-right {
		width: 65%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 30px 70px;
		.inner-right__blocks {
			color: #737373;
			font-size: $undertitle_size;
			max-width: 140px;
			line-height: 40px;
		}
	}
}


.section3 {
	margin-top: 150px;
	.section3__title {
		display: flex;
		justify-content: center;
		font-size: $title_size;
		margin-bottom: 40px;
	}
	.section3__text {
		display: flex;
		justify-content: center;
		font-size: $undertitle_size;
		margin-bottom: 90px;
	}
	.section3__subtitle {
		display: flex;
		justify-content: center;
		font-size: $subtitle_size;
		gap: 100px;
		flex-wrap: wrap;
		margin-bottom: 60px;
	}
	.section3__info {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		.info__block {
			border: 1px solid #E8E8E8;
			max-width: 550px;
			padding: 30px;
			.info__title {
				font-size: $else_size;
			}
			.info__text {
				font-size: $text_size;
				line-height: 30px;
				color: #737373;
				margin-top: 30px;
			}
		}
	}
}

.section4 {
	height: 880px;
	background-color: #0E0E33;
	.section4__title h2{
		font-size: $title_size;
		color: #fff;
		display: block;
		text-align: center;
		margin: 150px 0px 90px 0px;
	}
	.section4__inner-title {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 150px;
		.section4__block-title {
			font-size: $title_size;
			color: #fff;
		}
	}
	.section4__block-text {
		font-size: $undertitle_size;
		color: #fff;
		max-width: 140px;
		line-height: 30px;
		margin-top: 20px;
	}
}


.section5 {
	position: relative;
	bottom: 380px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	height: 1300px;
	justify-content: space-between;
	.section5__inner {
		background: #fff;
		max-width: 560px;
		box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
		.section5__inner-img {
			padding: 15px;
		}
		.sec5__img {
			max-width:100%;
				height:auto;
		}
		.section5__inner-text {
			.section5__title {
				font-size: $subtitle_size;
				margin: 50px 0px;
				max-width: 500px;
				padding: 0px 45px;
			}
			.section5__text {
				font-size: $text_size;
				padding: 0px 45px 40px 45px;
				color: #737373;
				line-height: 30px;
			}
		}
	}
}

.section6 {
	.section6__title {
		display: flex;
		justify-content: center;
		font-size: $title_size;
		margin-bottom: 40px;
	}
	.section6__text {
		text-align: center;
		font-size: $undertitle_size;
		margin: 0 auto 90px auto;
		max-width: 700px;
		line-height: 30px;
		color: #737373;
	}
	.section6__partners {
		background-color: #FAFAFA;
		display: flex;
		flex-wrap: wrap;
		gap: 80px;
		justify-content: center;
		margin-bottom: 70px;
		.partners__block {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 200px;
		}
	}
}

.section7 {
	.section7__title {
		display: flex;
		justify-content: center;
		font-size: $title_size;
		margin-bottom: 40px;
	}
	.section7__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		margin-bottom: 90px;
		.section7__inner-block {
			width: 365px;
			box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
			padding: 20px;
			.section7__block-text {
				color: #737373;
				font-size: $text_size;
				margin: 20px 0px 15px 0px;
			}
			.section7__block-subtitle {
				font-size: $subtitle_size;
				margin-bottom: 20px;
			}
			.section7__block-icon {
				display: flex;
				justify-content: right;
			}
		}
	}
}

.section8 {
	margin-bottom: 210px;
	background: url('../img/frame2.png') 0 0/cover no-repeat;
	height: 970px;
	.section8__form {
		max-width: 600px;
		padding: 30px 50px;
		margin: 0 auto;
		background-color: #fff;
		box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
		position: relative;
		top: 400px;
		.section8__form-inner {
			display: flex;
			justify-content: center;
			flex-direction: column;
			.form__title {
				font-size: $subtitle_size;
				margin-bottom: 130px;
				max-width: 300px;
				line-height: 50px;
			}
			.sec8__form {
				display: flex;
				flex-direction: column;
				.form__input {
					padding: 20px 30px;
					border: 1px solid #E8E8E8;
					border-radius: 7px;
					margin-bottom: 35px;
					font-size: $text_size;
				}
				.form__details {
					padding-bottom: 100px;
				}
				.form__button {
					align-self: center;
					color: #fff;
				}
			}
		}
	}
}

.section9 {
	background-color: #FAFAFA;
	height: 660px;
	.section9__inner {
		margin-left: 90px;
		.section9__title {
			font-size: $title_size;
			margin-top: 150px;
		}
		.section9__text {
			font-size: $text_size;
			color: #737373;
			margin-top: 45px;
			line-height: 30px;
			max-width: 470px;
		}
		.section9__pic {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			align-items: center;
			margin-top: 50px;
			margin-bottom: 150px;
		}
	}
}

.section10 {
	.section10__title {
		display: flex;
		justify-content: center;
		font-size: $title_size;
		margin-bottom: 40px;
		margin-top: 150px;
	}
	.section10__text {
		display: flex;
		justify-content: center;
		font-size: $undertitle_size;
		margin-bottom: 90px;
	}
	.section10__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 50px;
		margin-bottom: 150px;
		.section10__block {
			box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
			padding: 10px;
			max-width: 340px;
			.section10__block-inner {
				padding: 0px 20px 20px 20px;
				.section10__block-title {
					font-size: $subtitle_size;
					margin-top: 50px;
					margin-bottom: 30px;
					line-height: 40px;
				}
				.section10__block-text {
					font-size: $text_size;
					color: #737373;
					line-height: 30px;
				}
			}
		}
		.section10__block img {
			max-width:100%;
			height:auto;
		}
	}
}

.section11 {
	.section11__title {
		display: flex;
		justify-content: center;
		font-size: $title_size;
		margin-bottom: 40px;
		margin-top: 150px;
	}
	.section11__text {
		display: flex;
		justify-content: center;
		font-size: $undertitle_size;
		margin-bottom: 90px;
	}
	.section10__inner {
		margin-bottom: 150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;
		.section10__block {
			font-size: $else_size;
			margin: 40px 0px 20px 0px;
		}
		.section10__block:after {
			content: '';
			display: block;
			height: 1px;
			background: #E8E8E8;
			width: 100%;
			margin-top: 40px;
		}
		.section10__block a {
		}
		cursor: pointer;
		.section10__block a:hover {
			transition: 0.1s;
			color: #0A8BFE;
		}
	}
}

.section12 {
	background-color: #0E0E33;
	.sec12 {
		.section12__title {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-top: 140px;
			.section12__title-left {
				font-size: $text_size;
				color: #fff;
			}
		}
		.section12__title:after {
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			background: #787878;
			margin-top: 60px;
		}
		.section12__inner {
			display: flex;
			flex-wrap: wrap;
			margin-top: 150px;
			justify-content: space-between;
			.section12__inner-block {
				width: 320px;
				.section12__block-title {
					font-size: $else_size;
					color: #fff;
				}
				.section12__block-title {
					margin-bottom: 40px;
				}
				.section12__block-text {
					.section12__block-item {
						font-size: $text_size;
						color: #fff;
					}
					.section12__block-item:after {
						content: '';
						display: block;
						height: 1px;
						max-width: 100%;
						background: #787878;
						margin-top: 15px;
						margin-bottom: 15px;
					}
					.section12__block-item a {
						color: #fff;
						cursor: pointer;
					}
					.section12__block-item a:hover {
						transition: 0.1s;
						color: #0A8BFE;
					}
				}
			}
		}
	}
	.sec12:after {
		content: '';
		display: block;
		height: 2px;
		width: 100%;
		background: #787878;
		margin-top: 60px;
		margin-bottom: 60px;
	}
}